body {
  background:#343d46;
  /* background:#e7e7e7; diff color bg don't remove */
}

#timmy {
  text-align:center;
}

div.rig {
  margin-top: 25px;
  list-style: none;
  font-size: 0px;
  margin-left: -2.5%; /* shodivd match li left margin */
}
div.rig li {
  display: inline-block;
  padding: 10px;
  margin: 0 0 2.5% 2.5%;
  background: #fff;
  border: 1px solid #ddd;
  font-size: 16px;
  font-size: 1rem;
  vertical-align: top;
  box-shadow: 0 0 5px #ddd;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
div.rig li img {
  max-width: 100%;
  height: auto;
  margin: 0 0 10px;
}
div.rig li h3 {
  margin: 0 0 5px;
}
div.rig li p {
  font-size: .9em;
  line-height: 1.5em;
  color: #999;
}

/* class for 3 columns */
div.rig.columns-3 li {
  width: 30.83%; /* this value + 2.5 shodivd = 33% */
}

@media (max-width: 480px) {
  div.grid-nav li {
    display: block;
    margin: 0 0 5px;
  }
  div.grid-nav li a {
    display: block;
  }
  div.rig {
    margin-left: 0;
  }
  div.rig li {
    width: 100% !important; /* over-ride all li styles */
    margin: 0 0 20px;
    }
  }


.pic1 {
  max-width: 100%;
  max-height: 100%;
  transition: .2s all;
}

.pic1:hover {
  -webkit-filter: brightness(50%);
}

.notreadyMessage {
  font-family: 'Times New Roman', Times, serif;
}

.movTitle {
  font-family: Arial, Helvetica, sans-serif;
}

.movTitle:hover {
  color: darkorange;
}

.desc {
  font-family: Arial, Helvetica, sans-serif;
}

.desc:hover {
   color: mediumpurple;
}

.overview {
  font-family: Arial, Helvetica, sans-serif;
}

.overview:hover {
   color: lightseagreen;
}

#search {
  background: lightskyblue;
  width: 50;
  padding: 5px;
  font-size: 16px;
  border: 2px solid ghostwhite;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  border-radius: 25px;
  outline: none;
  box-shadow: 0 9px grey;
}

#search:hover {
  background: deepskyblue;
}

#search:active {
  box-shadow: 0 5px grey;
  transform: translateY(4px);
}

#typemenu {
  background: lightgreen;
  width: 150px;
  padding: 5px;
  font-size: 16px;
  border: 2px solid ghostwhite;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  outline: none;
}

#typemenu:hover  {
  background: limegreen;
}

#myText {
  width: 250px;
  border: 2px solid mediumpurple;
  padding: 5px;
  font-size: 16px;
  background: ghostwhite;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  color: mediumpurple;
  border-radius: 50px;
  outline: none;
}
